#txt-input{
    width: 80%;
    height: 10vh;
    display: block;
    margin: 1rem;
    padding: 1rem;
}

/* #btn-translate{
    width: 50%;
    height: 8vh;
    display: block;
    padding: 1rem;
    margin: auto;
} */

