@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

:root {
    --primary-color: #fce028;
    --secondary-color: #065aeb;

}

body {
    font-family: 'Fredoka One', cursive;
    margin: 0px;
}

nav
{
    background-color: var(--primary-color);
    text-align: center;
    padding: 0.5rem;
    
    border-radius: 0px 0px 50% 50%;
    
}

.minion {
    padding: 0.5rem;
 
}

.minion .minion-img {
    max-width: 350px;
    margin: auto;
    display: block;

}

.minion .minion-heading {
    padding-top: 1rem;
    color: var(--dark-blue);
    text-align: center;
}


#txt-input{
   
    display: block; 
    font-size: 4vh;
}

.btn{
    width: 20%;
    height: 8vh;
    display: block;
    padding: 1rem;
    margin: auto;
    
    border-radius: 3rem;
    font-size: 3vh;

}

#output{
    border: 1px solid black;
    font-size: 4vh;
}

.btn-style{
    font-size: larger; 
    background-color: var(--primary-color);   
}
.btn-invert{
    background-color: #065aeb;
}

.box-style{
    width: 50%;
    height: 10vh;
    margin: auto;
    padding: 1rem;
}

.footer{
    background-color: var(--secondary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    border-radius: 50% 50% 0px 0px;
}   

.footer p{
    max-width: 600px;
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    
} 